# [과제1] 네이버 평점 데이터 수집

In [1]:
from selenium import webdriver
from bs4 import BeautifulSoup
import os
import re
import random
import time
import pandas as pd
import csv

In [2]:
driver = webdriver.Chrome('./chromedriver')
driver.implicitly_wait(3)

In [3]:
user_df = pd.read_csv('./data/naver_user.csv')

In [17]:
def get_user_list(limit):
    page = 1
    user_list = []
    while len(user_list) <= limit:
        driver.get('https://movie.naver.com/movie/point/af/list.nhn?&page={0}'.format(page))

        html = driver.page_source
        soup = BeautifulSoup(html, 'html.parser')
        reviewNum = soup.select('#old_content > table > tbody > tr > td.ac.num')
        userId = soup.select('table.list_netizen > tbody > tr > td > a.author')
        for i in range(len(reviewNum)):
            review = str(reviewNum[i]).replace('<td class="ac num">','').replace('</td>','')
            user = userId[i].text.replace('*','')
            if user not in [user[1] for user in user_list]:
                user_list.append((review, user))
        time.sleep(random.randrange(2, 5))
        page += 1
    return user_list[:limit]

In [5]:
def get_movie_link(soup):
    movie_links = soup.select('a[href]')
    movie_links_list = []
    for link in movie_links:
        if re.search(r'st=mcode&sword' and r'&target=after$', link['href']):
            target_url = 'https://movie.naver.com/movie/point/af/list.nhn'+str(link['href'])
            movie_links_list.append(target_url)
    
    return movie_links_list[1:]

In [6]:
def get_review(reviewNo):
    user_reviews = []
    page = 1
    
    #dirver & beautifulsoup init
    driver.get('https://movie.naver.com/movie/point/af/list.nhn?st=nickname&sword={0}&target=after&page={1}'.format(
        reviewNo,page))
    html = driver.page_source
    soup = BeautifulSoup(html, 'html.parser')
    
    #해당 reviewNo을 작성한 사용자에 대한 웹페이지 가져오기
    while True:    #여러 페이지가 존재할 수도 있으므로, 반복문 사용
        driver.get('https://movie.naver.com/movie/point/af/list.nhn?st=nickname&sword={0}&target=after&page={1}'.format(
            reviewNo,page))
        html = driver.page_source
        soup = BeautifulSoup(html, 'html.parser')
        
        #다음 페이지가 존재하는지에 대한 확인
        hasNextPage = soup.select('#old_content > div.paging > div > a.pg_next')
        
        # 영화 링크를 가져오는 코드
        movie_links = get_movie_link(soup)
        movieId = [link.replace('https://movie.naver.com/movie/point/af/list.nhn?st=mcode&sword=','').replace(
            '&target=after','') for link in movie_links]

        #username 만들어주기
        user_name = user_df[user_df['reviewNo']==reviewNo]['userId'].iloc[0]

        #rating 만들어주기
        rating = soup.select('#old_content > table > tbody > tr > td.point')
        edited_rating = []
        for j in range(len(rating)):
            edited_rating.append(str(rating[j]).replace('<td class="point">','').replace('</td>',''))
        
        #reviewNumber 가져오기
        reviewNum_tag = soup.select('#old_content > table > tbody > tr > td.ac.num')
        
        #인자로 받은 reviewNo보다 큰 값은 pop
        for x in range(len(rating)):
            reviewNum_value = str(reviewNum_tag[x]).replace('<td class="ac num">','').replace('</td>','')
            if int(reviewNum_value) > reviewNo:
                edited_rating.pop(0)
                movieId.pop(0)

        #.csv 파일에 쓰기
        f = open('./data/rating.csv','a',newline='')
        wr = csv.writer(f)
        for i in range(len(edited_rating)):
            wr.writerow([user_name, edited_rating[i], movieId[i]])

        user_reviews = [{'userId': user_name,'rating':edited_rating, 'movieId':movieId}]
        
        time.sleep(random.randrange(3, 5))
        
        #다음 페이지가 있는 경우
        if hasNextPage:
            page += 1
            continue
        #다음 페이지가 없는 경
        else:
            break
            
        f.close()
    return user_reviews

In [7]:
def main():
    for i in user_df['reviewNo']:
        get_review(i)

if __name__ == "__main__":
    main()

#### csv 파일에 저장된 정보에 column명 추가해주기

In [8]:
newrating = pd.read_csv('./data/rating.csv', header = None,names = ['userId', 'rating', 'movieId'])
newrating.head(5)

  userId  rating  movieId
0   airf       2   136900
1   airf      10   163788
2   airf      10   174065
3   nanw      10   154667
4   nanw      10   136900

### 중복 제거

In [9]:
newrating = newrating.drop_duplicates()

In [10]:
newrating

     userId  rating  movieId
0      airf       2   136900
1      airf      10   163788
2      airf      10   174065
3      nanw      10   154667
4      nanw      10   136900
5      nanw      10   145335
6      nanw       9   120141
7      nanw       9    54704
8      zxcv       7   113351
9      zxcv      10    86507
10     zxcv      10    39705
11     zxcv       1    39756
12     zxcv      10    31925
13     zxcv       6    35098
14     zxcv       1   168679
15     zxcv       8   123300
16     zxcv       2   151188
17     zxcv       2    41592
18     zxcv      10    18811
19     zxcv       1   118994
20     zxcv       2   164183
21     zxcv      10    76016
22     zxcv      10   130997
23     zxcv      10    24522
24     zxcv       1   148909
25     zxcv       2   139700
26     zxcv       1   158622
27     zxcv      10   171725
28     zxcv       6   181411
29     zxcv       7   164932
...     ...     ...      ...
5088   hous       5   118950
5089   hous       6    77768
5090   hous       7    98438
5091   hous       1    93218
5092   hous      10   109642
5093   hous      10   129266
5094   hous       7    45290
5095   hous      10    65113
5096   hous      10    91192
5097   hous       3    71073
5098   hous      10    17421
5099   huya      10   152331
5100   huya       6   153580
5101   huya       1   157297
5102   huya       1    96917
5103   huya      10    66215
5104   huya       9    16822
5105   huya      10   121051
5106   huya       1   112079
5107   huya       4   103759
5108   huya       1    99800
5109   huya       9    35939
5110   huya       9    68616
5111   huya      10    45889
5112   huya       9    49637
5113   huya      10    73394
5114   huya      10    70773
5115   huya       8    16220
5116   huya      10    36666
5117   huya      10    37235

[5116 rows x 3 columns]

#### 5명의 정보 추가하기 전에 타입 검사

In [11]:

print(type(newrating['userId'][0]))
print(type(newrating['rating'][0]))
print(type(newrating['movieId'][0]))

<class 'str'>
<class 'numpy.int64'>
<class 'numpy.int64'>

#### 추가된 5명의 정보를 DataFrame으로 만들어주기

In [12]:
sub_df = pd.DataFrame({'userId':['patl','yoya','ebc8','imag','glab'],
                      'rating':[10,10,1,10,8],
                      'movieId':[161967,161967,174065,161967,137327]})

#### 크롤링한 결과와 추가된 5명 합치기

In [26]:
result = pd.concat([newrating,sub_df]).reset_index(drop=True)
result

     userId  rating  movieId
0      airf       2   136900
1      airf      10   163788
2      airf      10   174065
3      nanw      10   154667
4      nanw      10   136900
5      nanw      10   145335
6      nanw       9   120141
7      nanw       9    54704
8      zxcv       7   113351
9      zxcv      10    86507
10     zxcv      10    39705
11     zxcv       1    39756
12     zxcv      10    31925
13     zxcv       6    35098
14     zxcv       1   168679
15     zxcv       8   123300
16     zxcv       2   151188
17     zxcv       2    41592
18     zxcv      10    18811
19     zxcv       1   118994
20     zxcv       2   164183
21     zxcv      10    76016
22     zxcv      10   130997
23     zxcv      10    24522
24     zxcv       1   148909
25     zxcv       2   139700
26     zxcv       1   158622
27     zxcv      10   171725
28     zxcv       6   181411
29     zxcv       7   164932
...     ...     ...      ...
5091   hous      10   129266
5092   hous       7    45290
5093   hous      10    65113
5094   hous      10    91192
5095   hous       3    71073
5096   hous      10    17421
5097   huya      10   152331
5098   huya       6   153580
5099   huya       1   157297
5100   huya       1    96917
5101   huya      10    66215
5102   huya       9    16822
5103   huya      10   121051
5104   huya       1   112079
5105   huya       4   103759
5106   huya       1    99800
5107   huya       9    35939
5108   huya       9    68616
5109   huya      10    45889
5110   huya       9    49637
5111   huya      10    73394
5112   huya      10    70773
5113   huya       8    16220
5114   huya      10    36666
5115   huya      10    37235
5116   patl      10   161967
5117   yoya      10   161967
5118   ebc8       1   174065
5119   imag      10   161967
5120   glab       8   137327

[5121 rows x 3 columns]

In [31]:
result.loc[5121] = ['zxcv',1,174065]
result.loc[5122] = ['kktw',7,47701]
result.loc[5123] = ['kktw',6,62328]
result.tail(3)

     userId  rating  movieId
5121   zxcv       1   174065
5122   kktw       7    47701
5123   kktw       6    62328

#### final_rating.csv 파일로 저장

In [32]:
result.to_csv('./data/final_rating.csv')