In [1]:
import sys
import json
import csv
import pandas as pd
import os

## hearts.csv 파일 만들기

In [2]:
user_dir = './sokulee'
user_list = os.listdir(user_dir)
fullList = []
count = 0
for k in range(1, len(user_list)):
    file_dir = './sokulee/' + user_list[k]
    file_list = os.listdir(file_dir)
    for m in range(len(file_list)):
        json_data = open('./sokulee/' + user_list[k] + '/' + file_list[m]).read()
        if file_list[m].find('heart') is not -1:
            json_parsed = json.loads(json_data)
            date = json_parsed['activities-heart'][0]['dateTime']
            dataset = json_parsed['activities-heart-intraday']['dataset']
            a = pd.DataFrame(dataset)
            a['USERNAME'] = user_list[k]
            a['date'] = date
            fullList.append(a)
hearts_df = pd.concat(fullList).reset_index()
del hearts_df['index']

C:\Users\InT\Anaconda3\lib\site-packages\ipykernel_launcher.py:18: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

In [3]:
#출력
hearts_df.head()

  USERNAME        date      time  value
0      A01  2016-04-01  00:00:00   79.0
1      A01  2016-04-01  00:01:00   80.0
2      A01  2016-04-01  00:02:00   78.0
3      A01  2016-04-01  00:03:00   73.0
4      A01  2016-04-01  00:04:00   77.0

### value의 data tpye을 int로 바꿔주고, column명을 대문자로 바꾸어주기

In [4]:
# change value's data type to integer
hearts_df['value'] = hearts_df['value'].astype('int')
hearts_df = hearts_df.rename(columns = {'date' : 'DATE'})
hearts_df = hearts_df.rename(columns = {'time' : 'TIME'})
hearts_df = hearts_df.rename(columns = {'value' : 'VALUE'})
hearts_df.head(5)

  USERNAME        DATE      TIME  VALUE
0      A01  2016-04-01  00:00:00     79
1      A01  2016-04-01  00:01:00     80
2      A01  2016-04-01  00:02:00     78
3      A01  2016-04-01  00:03:00     73
4      A01  2016-04-01  00:04:00     77

### csv 파일로 저장

In [5]:
hearts_df.to_csv('./data/all_user_hearts.csv')

## steps.csv 만들기

In [6]:
user_dir = './sokulee'
user_list = os.listdir(user_dir)
fullList = []
count = 0

for k in range(1, len(user_list)):
    file_dir = './sokulee/' + user_list[k]
    file_list = os.listdir(file_dir)
    for m in range(len(file_list)):
        json_data = open('./sokulee/' + user_list[k] + '/' + file_list[m]).read()
        #print(user_list[k] + '/' + file_list[m])
        if file_list[m].find('steps') is not -1:
            json_parsed = json.loads(json_data)
            if 'activities-steps' in json_parsed.keys() :
                date = json_parsed['activities-steps'][0]['dateTime']
                dataset = json_parsed['activities-steps-intraday']['dataset']
                a = pd.DataFrame(dataset)
                a['USERNAME'] = user_list[k]
                a['date'] = date
                fullList.append(a)
steps_df = pd.concat(fullList).reset_index()
#steps_df.to_csv('./data/all_user_steps.csv')

In [7]:
steps_df.head(5)

   index      time  value USERNAME        date
0      0  00:00:00      0      A01  2016-04-01
1      1  00:01:00      0      A01  2016-04-01
2      2  00:02:00      0      A01  2016-04-01
3      3  00:03:00      0      A01  2016-04-01
4      4  00:04:00      0      A01  2016-04-01

### time의 hour와 minute을 parsing하여 새로운 열로 만들어주기

In [8]:
steps_df['hour'] = steps_df['time'].apply(lambda x: x[0:2])
steps_df['minute'] = steps_df['time'].apply(lambda x: x[3:5])

In [9]:
steps_df.head(5)

   index      time  value USERNAME        date hour minute
0      0  00:00:00      0      A01  2016-04-01   00     00
1      1  00:01:00      0      A01  2016-04-01   00     01
2      2  00:02:00      0      A01  2016-04-01   00     02
3      3  00:03:00      0      A01  2016-04-01   00     03
4      4  00:04:00      0      A01  2016-04-01   00     04

### 불필요하게 생성된 index열 제거

In [10]:
del steps_df['index']
steps_df.head(5)

       time  value USERNAME        date hour minute
0  00:00:00      0      A01  2016-04-01   00     00
1  00:01:00      0      A01  2016-04-01   00     01
2  00:02:00      0      A01  2016-04-01   00     02
3  00:03:00      0      A01  2016-04-01   00     03
4  00:04:00      0      A01  2016-04-01   00     04

### 열 순서를 바꾸어주기 위한 작업

In [11]:
cols = steps_df.columns.tolist()
cols

['time', 'value', 'USERNAME', 'date', 'hour', 'minute']

In [12]:
cols = ['USERNAME', 'date', 'time', 'hour', 'minute', 'value']
steps_df = steps_df[cols]
steps_df.head(5)

  USERNAME        date      time hour minute  value
0      A01  2016-04-01  00:00:00   00     00      0
1      A01  2016-04-01  00:01:00   00     01      0
2      A01  2016-04-01  00:02:00   00     02      0
3      A01  2016-04-01  00:03:00   00     03      0
4      A01  2016-04-01  00:04:00   00     04      0

### column명 변경

In [13]:
# value -> steps
steps_df = steps_df.rename(columns = {'value': 'STEPS'})
steps_df = steps_df.rename(columns = {'date' : 'DATE'})
steps_df = steps_df.rename(columns = {'time' : 'TIME'})
steps_df = steps_df.rename(columns = {'hour' : 'HOUR'})
steps_df = steps_df.rename(columns = {'minute' : 'MINUTE'})
steps_df.head(5)

  USERNAME        DATE      TIME HOUR MINUTE  STEPS
0      A01  2016-04-01  00:00:00   00     00      0
1      A01  2016-04-01  00:01:00   00     01      0
2      A01  2016-04-01  00:02:00   00     02      0
3      A01  2016-04-01  00:03:00   00     03      0
4      A01  2016-04-01  00:04:00   00     04      0

### csv 파일로 저장

In [14]:
steps_df.to_csv('./data/all_user_steps.csv')

## all_user_sleeps.csv 만들기

In [17]:
user_dir = './sokulee'
user_list = os.listdir(user_dir)
fullList = []
count = 0

for k in range(1, len(user_list)):
    file_dir = './sokulee/' + user_list[k]
    file_list = os.listdir(file_dir)
    for m in range(len(file_list)):
        json_data = open('./sokulee/' + user_list[k] + '/' + file_list[m]).read()
        #print(user_list[k] + ' / ' + file_list[m])
        if file_list[m].find('sleep') is not -1:
            json_parsed = json.loads(json_data)
            if len(json_parsed['sleep']) > 0 : 
                date = json_parsed['sleep'][0]['dateOfSleep']
                starttime = json_parsed['sleep'][0]['minuteData'][0]['dateTime']
                minutesasleep = json_parsed['sleep'][0]['minutesAsleep']
                minutesawake = json_parsed['sleep'][0]['minutesAwake']
                timeinbed = json_parsed['sleep'][0]['timeInBed']
                
                tempdf = pd.DataFrame()
                tempdf['USERNAME'] = [user_list[k]]
                tempdf['date'] = [date]
                tempdf['starttime'] = [starttime]
                tempdf['minutesasleep'] = [minutesasleep]
                tempdf['minutesawake'] = [minutesawake]
                tempdf['timeinbed'] = [timeinbed]
                fullList.append(tempdf)

sleeps_df = pd.concat(fullList).reset_index()
#sleeps_df.to_csv('./data/all_user_sleeps.csv')

In [18]:
sleeps_df.head(5)

,index,USERNAME,date,starttime,minutesasleep,minutesawake,timeinbed
0,0,A01,2016-04-01,02:39:00,485,26,511
1,0,A01,2016-04-02,02:09:00,512,37,549
2,0,A01,2016-04-04,01:52:30,335,11,346
3,0,A01,2016-04-05,02:04:00,311,24,335
4,0,A01,2016-04-06,01:49:00,491,59,551

### 불필요하게 생성된 index열 제거 및 column명 변경

In [19]:
del sleeps_df['index']
sleeps_df = sleeps_df.rename(columns = {'date' : 'DATE'})
sleeps_df = sleeps_df.rename(columns = {'starttime' : 'STARTTIME'})
sleeps_df = sleeps_df.rename(columns = {'minutesasleep' : 'MINUTESASLEEP'})
sleeps_df = sleeps_df.rename(columns = {'minutesawake' : 'MINUTESAWAKE'})
sleeps_df = sleeps_df.rename(columns = {'timeinbed' : 'TIMEINBED'})
sleeps_df.head(5)

  USERNAME        DATE STARTTIME  MINUTESASLEEP  MINUTESAWAKE  TIMEINBED
0      A01  2016-04-01  02:39:00            485            26        511
1      A01  2016-04-02  02:09:00            512            37        549
2      A01  2016-04-04  01:52:30            335            11        346
3      A01  2016-04-05  02:04:00            311            24        335
4      A01  2016-04-06  01:49:00            491            59        551

### csv 파일로 저장

In [20]:
sleeps_df.to_csv('./data/all_user_sleeps.csv')